/*****************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
      -webkit-transition-duration: .25s; /* Safari */
     transition-duration: .25s;
}



/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}


/******************************************
/* BASE STYLES                   
/*******************************************/
html {
     font-size: 14px !important;
}

body {
     color: #000 !important;
     font-size: 14px !important;
     line-height: 1.4 !important;
     font-family: Gotham, Helvetica, Arial, sans-serif !important;
     margin: 0 !important;
}
p {
     margin: 0 !important;
     line-height: 1.3rem;
}
button {
     border: none;
}
.pushtop {
  margin: 50px 0 20px 0;
}
.padtop {
  padding-top: 60px;
}
.pushout {
  margin-top: 30px;
}

/******************************************
/* LAYOUT                   
/*******************************************/


footer {
  height: 100px;
  margin: 30px;


}

.navbar-collapse {
  padding: 0 !important;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/



.textRight {
  text-align:right;
}
h3.light {
  font-weight: lighter;
  font-size: 1.5em;
}

#analyticshero {
     background-image: url("../img/analytics-hero.png");
     background-repeat: no-repeat;
     background-size: cover;
     height: 350px;
     width: 100%;
   }

#topnav li{
     font-size: .7rem !important;
     list-style: none;
     float: right;
     margin: 5px 10px;
}

.nav {
  float: right;
}
.icon-bar {
  background-color: white;
}
.nav li {
     list-style: none;
     float: right;
     margin: 0px;
     font-size: 1.3rem;
     font-weight: bold;
     
     vertical-align: middle;
     padding-top: 25px;
}
.nav li a, #topnav li a {
  color: #3f5364 !important;
}
.nav li a:hover, .nav li a:focus, #topnav li a:hover, #topnav li a:focus {
  color: #3f4447 !important;
  background-color: inherit !important;
}
li.get-chef-orange-button a{
    text-decoration: none;
    list-style: none;
     background-color: #f18b21;
     color: white !important;
     padding: 25px 10px;
}
li.get-chef-orange-button a:hover, li.get-chef-orange-button a:focus{
  background-color: #f18b21 !important;
  color: white !important;
  box-shadow: 0px 0px 21px 0px rgba(247,149,60,1);
}
#logo {
     float: left;
}
#logo img{
     height: 75px;
}
div.hero-content {
     margin: 0 auto;
     color: white;
     text-align: center;
}
div.hero-content p {

     font-size: 1.2rem;
}
button {
     padding: 10px 25px;
     color: white;
     font-size: 1.1rem;
     margin-right: 10px;
     margin-top: 10px;
}
button.hero-chef{
     background-color: #f18b21;
     color: white;
}
button.hero-analytics{
     background-color: #f18b21;
    
     border-radius: .25em;
     color: white;
}

.thirds {
     margin: 10px 0;

}


.thirds h3, .thirds p {
       font-size: 1.2rem !important;
     text-align: center;
     width: 85%;
     display: block;
     margin-left: auto !important;
     margin-right: auto !important;
     vertical-align: text-bottom;
}
.thirds p {
       font-size: .9rem !important;

}

.imgHolderPrice img {
  opacity: .75;
  max-height: 150px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   vertical-align: middle;
}
.imgHolderPrice img:hover {
  opacity: 1;
  }

.greyWrap {
  background-color: #ecf0f0;
  padding: 30px 0;
  width: 100%;
  height: 100%;   
  margin-top: 50px;

}
#blueWrap {
  background-color: #435464;
  padding: 80px 0;
  color: white;
}

.fit {
  width: 100%;
}

.learnButton {
  padding: 15px 10px;
  border: 2px solid white;
  font-size: 1.5rem;
}
a .learnButton {
  text-decoration: none;
  color: white;
}
a .learnButton:hover {
  background-color: #ffffff;
  text-decoration: none !important;
  color: #435464;
}
.tall {
  line-height: 3;
}
.half-tall {
  line-height: 1.5;
}
.visibleSmall {
  display: none;
}


@media screen and (max-width: 700px) {
  #topnav {
    display: none;
  }
  .navbar-header {
    margin-top: 20px;
  }
  .navbar-nav {
    width: 50%;
  }
  .get-chef-orange-button {
    padding-right: 15px;
  }
  .nav li {
    padding-top: 0;
  }
  .byefelicia {
    display: none;
  }
  .visibleSmall {
    display: block;
  }
  .hiddenSmall {
    display: none;
  }

}